{% extends "base.html" %}

{% block title %}Activity Time Estimator - College App App{% endblock %}

{% block content %}
<div class="tabs is-boxed is-medium">
  <ul>
    <li class="is-active">
      <a href="{% url 'widgets:estimator' %}">Estimator</a>
    </li>
    <li>
      <a href="{% url 'widgets:focus_write' %}">Focus Write</a>
    </li>
    <li>
      <a href="{% url 'widgets:word_counter' %}">Word Counter</a>
    </li>
    <li>
      <a href="{% url 'widgets:advice' %}">Advice</a>
    </li>
  </ul>
</div>

{% include "activities/_estimator_content.html" %}
{% endblock %}
