{% extends "base.html" %}

{% block title %}Activities & Honors - College App App{% endblock %}

{% block content %}
<h1 class="title">Activities & Honors</h1>

<div x-data="{ tab: '{{ tab }}' }">
  <div class="tabs is-boxed is-medium">
    <ul>
      <li :class="tab === 'uc' && 'is-active'">
        <a x-on:click="tab = 'uc'">UC <span class="tag is-rounded ml-1" :class="tab === 'uc' ? 'is-primary' : 'is-light'">{{ uc_count }}/20</span></a>
      </li>
      <li :class="tab === 'common_app' && 'is-active'">
        <a x-on:click="tab = 'common_app'">Common App <span class="tag is-rounded ml-1" :class="tab === 'common_app' ? 'is-primary' : 'is-light'">{{ ca_count }}/10</span></a>
      </li>
      <li :class="tab === 'honors' && 'is-active'">
        <a x-on:click="tab = 'honors'">Honors <span class="tag is-rounded ml-1" :class="tab === 'honors' ? 'is-primary' : 'is-light'">{{ honor_count }}/5</span></a>
      </li>
      <li :class="tab === 'mit' && 'is-active'">
        <a x-on:click="tab = 'mit'">MIT <span class="tag is-rounded ml-1" :class="tab === 'mit' ? 'is-primary' : 'is-light'">{{ mit_count }}</span></a>
      </li>
    </ul>
  </div>

  {% include "activities/_tab_content.html" %}
</div>
{% endblock %}
